.settings-page {
  padding: 20px;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-header {
  background-color: #ff5733;
  color: white;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  position: relative;
}

.back-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

input,
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e04e2a;
}

.error {
  color: red;
  margin-bottom: 10px;
}
